
body{
    background-color: blanchedalmond;
    flex:1
}

div.Titulo{
    background-color: blanchedalmond;
    margin: 10px; 
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative; 
    z-index: 2; 
    border: 5px solid #e06b26; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

div.Menu{
    position: fixed;
    top: 0;
    left: 0;
    background: #e06b26;
    height: 100%;
    width: 15%;
    padding-top: 20px;
    z-index: 1; 
}

div.Menu a {
    display: block;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
}

div.Impacto_Cultral{
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    background-color: beige;
    padding: 20px;
    gap: 20px;
}

div.Impacto_Cultural, div.influencia_Literaria {
    margin-left: 15%; 
    padding: 20px; 
    background-color: beige; 
}
div.Imagen_Biblia, div.Imagen_Coran {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    background-color: #f9f9f9; 
    border: 2px solid #e06b26; 
    border-radius: 8px; 
    padding: 15px;
    margin: 10px 0; 
    width: 100%; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

div.Imagen_Biblia img, div.Imagen_Coran img {
    width: 150px; 
    height: 150px;
    object-fit: cover; 
    margin-right: 15px; 
}

div.Imagen_Biblia p, div.Imagen_Coran p {
    font-size: 16px;
    color: #333;
    text-align: justify;
}